{
  // 语法转换插件preset-env
  "presets": [
    [
      "@babel/preset-env",
      { // 对preset-env的传参
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "corejs": 2, //新版本需要指定核⼼库版本
        // promise 不能经过babel转换，浏览器不认识怎么办？
        // 提前引进polyfill -> 垫片 ES6+的ECMA规范库
        // 我们此处只用了promise，而polyfill垫片中包含了所有的es6+规范如async,await等，会导致我们打包后的js文件变的很大
        // 因此，我们需要给垫片瘦身，实现按需加载减少冗余
        "useBuiltIns": "usage" //按需注⼊，                
      }
    ], 
    "@babel/preset-react" //做jsx语法的解析 
  ]
}